{% extends 'index.html' %}

{% load static %}

{% block content %}

<div class="br-list" role="list">
    <div class="header">
        <div class="title">Celulares</div>

    </div><span class="br-divider"></span>
    {% for item in itens %}
    <div class="br-item py-4" role="listitem">
        <div class="row align-items-center">
            <span class="br-avatar mr-3" style="margin: 0%;" title="Fulano da Silva"><span class="content"><img
                        src="{% static '/images/smartphone_1.svg' %}" alt="Avatar" /></span></span>
            <div class="col"><a href="{% url 'Página do Celular' item.id %}"><strong>{{item.name}} | IMEI nº {{item.IMEI}}</strong></a>
            </div>
        </div><br>
        <div class="row align-items-center">
            <span class="br-avatar mr-3" style="" title="Fulano da Silva"><span class="content"><img
                        src="{% static '/images/user.svg' %}" alt="Avatar"/></span>
            <strong style="margin-left: 24px;">Cautela: {{item.cautela.username}}</strong>
        </div>
    </div><span class="br-divider"></span>
    {% endfor %}
</div>
{% if itens %}
<div class="header-login">
    <div class="header-sign-in" style="">
        <a class="br-sign-in small" href="{% url 'generate-sheet-lista-celulares' %}">
            <span class="d-sm-inline">Exportar Planilha</span>
        </a>
    </div>
</div>
<br>
<div class="header-login">
    <div class="header-sign-in" style="">
        <a class="br-sign-in small" href="{% url 'generate-pdf-lista-celulares' %}">
            <span class="d-sm-inline">Imprimir</span>
        </a>
    </div>
</div>
{% endif %}

{% endblock content %}