{% extends 'index.html' %}

{% block content %}
<h1>Entrar</h1>
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Inserir Dados</legend>
        <div class="br-input">
            <label for="cpf">Email</label>
            <input id="cpf" type="text" name="email" placeholder="Digite seu email" class="">
        </div>

        <div class="br-input input-button">
            <label for="input-password">Senha</label>
            <input id="input-password" name="password" type="password" placeholder="Digite sua senha" class="">
            <button class="br-button" type="button" aria-label="Exibir senha" role="switch" aria-checked="false"><i
                    class="fas fa-eye" aria-hidden="true"></i>
            </button>
        </div>
        <br>
        <button class="br-button secondary large mr-3" type="submit">Confirmar
        </button>

    </fieldset>

</form>

{% if messages %}
{% for message in messages %}
<br>
<div>
    <strong style="color: red;">{{message}}</strong>
</div>
{% endfor %}
{% endif %}

{% endblock content %}