{% extends 'index.html' %}

{% load static %}

{% block content %}



<div class="exemplo">
    <div class="br-item">
        <div class="row align-materials-center">
            <span class="br-avatar medium mr-3" style="margin: 0%;" title="material"><span class="content"><img
                        src="{% static '/images/item.png' %}" alt="Avatar" /></span></span>
            <div class="col" style="margin-top: 38px;"><span>{{material.name}}</span></div>
        </div>
    </div><span class="br-divider"></span>

    <div class="br-item">
        <div class="row align-materials-center">
            <div class="col">Armario: {{material.armario}}</div>
            <div class="col-auto">
            </div>
        </div>

    </div><span class="br-divider"></span>
    <div class="br-item">
        <div class="row align-materials-center">
            <div class="col">Tamanho: {{material.tamanho}}</div>

        </div>

    </div><span class="br-divider"></span>
    <div class="br-item">
        <div class="row align-materials-center">
            <div class="col">Quantidade: {{material.quantidade}}</div>

        </div>

    </div><span class="br-divider"></span>
    <div class="br-item">
        <div class="row align-materials-center">
            {% if material.patrimônio != None %}
            <div class="col">Patrimônio: {{material.patrimônio}}</div>
            {% else %}
            <div class="col">Patrimônio: sem patrimônio</div>
            {% endif %}


        </div>

    </div><span class="br-divider"></span>

    <div class="br-item">
        <div class="row align-materials-center">
            <div class="col">Cautela: {{material.cautela.username}}</div>

        </div>

    </div><span class="br-divider"></span>

    
</div>
<form action="" method="post">
    {% csrf_token %}

    <div class="br-scrim-util foco" id="scrimutilexamplemodal" data-scrim="true">
        <div class="br-modal" aria-labelledby="titulomodalexemplo">
            <div class="br-modal-header" id="titulomodalexemplo">Retornar</div>
            <div class="br-modal-body">
                <p>Deseja retornar o Item?</p>
            </div>
            <div class="br-modal-footer justify-content-center" style="">
                <button class="br-button primary" type="button" data-dismiss="true" style="margin: 0;">Cancelar
                </button>
                <br><br>
                <input class="br-button primary" type="submit" value="Retornar">
            </div>
        </div>
    </div>
    <div class="scrimutilexamplemodal">
        <button class="br-button primary" type="button" id="buttonactivatemodal">Retornar
        </button>
    </div>
</form>




{% endblock content %}